<div class="footer">
  
    <div class="row1">

        <div class="column">
            <h3>Resources</h3>
            <ul>
                <li> <a href="#" title="Angular contributors."> About </a> </li>
                <li> <a href="#" title="Angular tools, training, and blogs from around the web."> Resource Listing </a> </li>
                <li> <a href="#" title="Press contacts, logos, and branding."> Press Kit </a> </li>
                <li> <a href="#" title="Angular Blog"> Blog </a> </li>
                <li> <a href="#" title="Angular Usage Analytics"> Usage Analytics </a> </li>
            </ul>
        </div>

        <div class="column">
            <h3>Help</h3>
            <ul>
                <li> <a href="#" title="Stack Overflow: where the community answers your technical Angular questions."> Stack Overflow </a> </li>
                <li> <a href="#" title="Join the discussions at Angular Community Discord server."> Join Discord </a> </li>
                <li> <a href="#" title="Chat about Angular with other birds of a feather."> Gitter </a> </li>
                <li> <a href="#" title="Post issues and suggestions on github."> Report Issues </a> </li>
                <li> <a href="#" title="Treating each other with respect."> Code of Conduct  </a> </li>
            </ul>
        </div>

        <div class="column">
            <h3>Community</h3>
            <ul>
                <li> <a href="#" title="Angular events around the world."> Events </a> </li>
                <li> <a href="#" title="Attend a meetup and learn from fellow developers."> Meetups </a> </li>
                <li> <a href="#" title="Twitter"> Twitter </a> </li>
                <li> <a href="#" title="GitHub"> GitHub </a> </li>
                <li> <a href="#" title="Contribute to Angular"> Contribute </a> </li>
            </ul>
        </div>

        <div class="column">
            <h3>Languages</h3>
            <ul>
                <li> <a href="#" title="Español"> Español </a> </li>
                <li> <a href="#" title="简体中文版"> 简体中文版 </a> </li>
                <li> <a href="#" title="正體中文版"> 正體中文版 </a> </li>
                <li> <a href="#" title="日本語版"> 日本語版 </a> </li>
                <li> <a href="#" title="한국어"> 한국어 </a> </li>
            </ul>
        </div>
    </div>
    <div class=" row2">
        <p>Super-powered by Google ©2010-2021.</p>
        <p>
            Code licensed under an 
            <a href="#">MIT-style License</a>
            . Documentation licensed under 
            <a href="#">CC BY 4.0</a>
            .
        </p>
        <p> Version 12.2.2-local+sha.7a67597d01.</p>
    </div>

</div>
