<div class="home-row row">
    <!-- Group1 -->

    <div class="row-container row">
        <div class="img-container">
            <div>
                <img src="/assets/responsive-framework.svg" alt="" height="170" width="340">
            </div>
        </div>

        <div class="text-container ">
            <div class="text-block">
                <div class="text-headline"> Develop Across All Platforms </div>
                <p class="text-body"> Learn one way to build applications with Angular and reuse your code and abilities
                    to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
            </div>
        </div>
    </div>
    <hr>

    <!-- Group2 -->

    <div class="row-container row">

        <div class="text-container ">
            <div class="text-block">
                <div class="text-headline"> SPEED & PERFORMANCE </div>
                <p class="text-body">Achieve the maximum speed possible on the Web Platform today, and take it further,
                    via Web Workers and server-side rendering.</p>
                <p>Angular puts you in control over scalability. Meet huge data requirements by building data models on
                    RxJS, Immutable.js or another push-model.</p>
            </div>
        </div>



        <div class="img-container">
            <div>
                <img src="assets/speed-performance.svg" alt="" height="222" width="323">
            </div>
        </div>

    </div>

    <hr>

    <!-- Group3 -->

    <div class="row-container row">

        <div class="img-container">
            <div>
                <img src="/assets/joyful-development.svg" alt="" height="251" width="400">
            </div>
        </div>



        <div class="text-container ">
            <div class="text-block">
                <div class="text-headline"> INCREDIBLE TOOLING </div>
                <p class="text-body"> Build features quickly with simple, declarative templates. Extend the template
                    language with your own components and use a wide array of existing components. Get immediate
                    Angular-specific help and feedback with nearly every IDE and editor. All this comes together so you
                    can focus on building amazing apps rather than trying to make the code work.</p>
            </div>
        </div>

    </div>

    <hr>

    <!-- Group4 -->

    <div class="row-container row">

        <div class="text-container">
            <div class="text-block">
                <div class="text-headline"> LOVED BY MILLIONS </div>
                <p class="text-body">From prototype through global deployment, Angular delivers the productivity and
                    scalable infrastructure that supports Google's largest applications.</p>
            </div>
        </div>



        <div class="img-container">
            <div>
                <img src="/assets/loved-by-millions.svg" alt="" height="222" width="455">
            </div>
        </div>

    </div>


    <div class="card-row ">
        <a href="#">
            <div class="card">
                 <img src="/assets/code-icon.svg" alt="" width="70" height="70">
                   
             <div class="card-body">
                <div class="text-title">Try it now</div>
                    <p class="card-text">Explore Angular's capabilities with a ready-made sample app. No setup
                                required.</p>
                </div>   
            </div>
        </a>
    </div>

</div>