<div class="fluid-container">

    <div>
        <router-outlet></router-outlet>
    </div>

    <div class="row">
        <app-toolbar></app-toolbar>
        <router-outlet></router-outlet> 
    </div>

   
   
    
    
  
 
  

       


<!-- 
     <div class="row">
        <app-sidebar></app-sidebar>

        <div>
            <router-outlet></router-outlet>
        </div>

    </div>   -->

    <!-- <div class="row">
        <app-introduction></app-introduction>
    </div>  -->

    <!-- <div class="row">
        <app-angular></app-angular>

    </div> -->

    <!-- <div class="row">
        <app-overview></app-overview>
    </div> -->

    <!-- <div class="row">
        <app-componentlifcycle></app-componentlifcycle>
    </div> -->



</div>