<!-- <input type="checkbox" id="btn">
<label for="btn" class="btnIcon"></label> -->


<div id="vertical_sidebar">
    <ul>
        <li>
            <a routerLink="introduction" >Introduction </a>
        </li>

        <li>
            <a class="link-name" routerLink="angular" href="#">Getting Started <i class="fas fa-angle-right arrow"></i></a>

            <ul class="sub-menu">

                <li>
                    <a class="link-name" href="#">Getting Started </a>
                </li>

                <li>
                    <a class="" routerLink="angular"> What is Angular?</a>
                </li>

                <li>
                    <a class="menu"  href=""> Try it <i class="fas fa-angle-right"></i></a>

                    <ul class="sub-menu">
                        <li>
                            <a href=""> Getting Started</a>
                        </li>
                        <li>
                            <a href=""> Adding Navigation</a>
                        </li>
                        <li>
                            <a href=""> Managing Data</a>
                        </li>
                        <li>
                            <a href=""> Using Form for User Input</a>
                        </li>
                        <li>
                            <a href=""> Deploying an application</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href=""> Setup</a>
                </li>
            </ul>
        </li>

        <li>
            <a class="menu" routerLink="overview" href="#">Understanding Angular <i class="fas fa-angle-right"></i></a>

            <ul class="sub-menu">
                <li>
                    <a href=""> Components</a>
                    <ul class="sub-menu">
                        <li>
                            <a routerLink="overview">Overview</a>
                        </li>
                        <li>
                            <a routerLink="componentlifecycle">Component lifecycle</a>
                        </li>
                        <li>
                            <a href="">View Encapsulation</a>
                        </li>
                        <li>
                            <a href="">Component styles</a>
                        </li>
                        <li>
                            <a href="">Sharing data between child and parent directive and component</a>
                        </li>
                        <li>
                            <a href="">Content Projection</a>
                        </li>
                        <li>
                            <a href="">Dynamic component</a>
                        </li>
                        <li>
                            <a href="">Angular Elements</a>
                        </li>
                    </ul>
                </li>



                <li>
                    <a class="menu" href=""> Template</a>


                    <ul class="sub-menu">
                        <li>
                            <a href="">Introduction</a>
                        </li>
                        <li>
                            <a href="">Text Interploation</a>
                        </li>
                        <li>
                            <a href="">Template Statement</a>
                        </li>
                        <li>
                            <a href="">Pipes</a>
                        </li>
                        <li>
                            <a href="">property Binding</a>
                        </li>
                        <li>
                            <a href="">Attribute,Class,and Style bindings</a>
                        </li>
                        <li>
                            <a href="">Event binding</a>
                        </li>
                        <li>
                            <a href="">Two-way binding</a>
                        </li>
                        <li>
                            <a href="">Template reference variables</a>
                        </li>
                        <li>
                            <a href="">SVG as templates</a>
                        </li>
                    </ul>
                </li>



                <li>
                    <a class="menu" href=""> Directives</a>


                    <ul class="sub-menu">
                        <li>
                            <a href="">Built-in directives</a>
                        </li>
                        <li>
                            <a href="">Attribute directives</a>
                        </li>
                        <li>
                            <a href="">Structral directives</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>





        <li>
            <a href="menu"> Dependency Injection</a>


            <ul class="sub-menu">
                <li>
                    <a href="">Angular Dependency Injection</a>
                </li>
                <li>
                    <a href="">DI providers</a>
                </li>
            </ul>
        </li>




        <li>
            <a class="menu" href="#">Developer Guides <i class="fas fa-angle-right"></i></a>



            <ul class="sub-menu">
                <li>
                    <a href="">Routing & Navigation</a>
                </li>
                <li>
                    <a href="">Forms</a>
                </li>
                <li>
                    <a href="">HTTP Client</a>
                </li>
                <li>
                    <a href="">Testing</a>
                </li>
                <li>
                    <a href="">Internationalization (i18n)</a>
                </li>
                <li>
                    <a href="">Animation</a>
                </li>
                <li>
                    <a href="">Service Workers & PWA</a>
                </li>
                <li>
                    <a href="">Web Workers</a>
                </li>
                <li>
                    <a href="">Server-side Rendering</a>
                </li>
                <li>
                    <a href="">Prerendering</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="menu" href="#">Best Practices <i class="fas fa-angle-right"></i></a>


            <ul class="sub-menu">
                <li>
                    <a href="">Security</a>
                </li>
                <li>
                    <a href="">Accessibilityt</a>
                </li>
                <li>
                    <a href="">Keeping Up-To-Date</a>
                </li>
                <li>
                    <a href="">Property binding besr practices</a>
                </li>
                <li>
                    <a href="">Lazy loading Featurre Modules</a>
                </li>
                <li>
                    <a href="">Lightweight injection Tokens for Libaries</a>
                </li>
            </ul>
        </li>

        <li>
            <a  href="#">Angular Tools <i class="fas fa-angle-right"></i></a>

            <ul >
                <li>
                    <a href="">Dev Workflow</a>
                </li>
                <li>
                    <a href="">CLI Builders</a>
                </li>
                <li>
                    <a href="">Language Service</a>
                </li>
                <li>
                    <a href="">Dev Tools</a>
                </li>
                <li>
                    <a href="">Schematics</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#">Tutorials <i class="fas fa-angle-right"></i></a>
        </li>


        <li>
            <a href="#">Release Information <i class="fas fa-angle-right"></i></a>
        </li>


        <li>
            <a href="#">Reference <i class="fas fa-angle-right"></i></a>
        </li>



    </ul>
   

</div>



<router-outlet></router-outlet>



<script>
    let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
   let arrowParent = e.target.parentElement.parentElement;
   arrowParent.classList.toggle("showMenu");
    });
  }
</script>