<div class="content">

    <h1>Angular Components Overview</h1>

    <p>Components are the main building block for Angular applications. Each component consists of:</p>
    <ul>
        <li>An HTML template that declares what renders on the page</li>
        <li>A Typescript class that defines behavior</li>
        <li>A CSS selector that defines how the component is used in a template</li>
        <li>Optionally, CSS styles applied to the template</li>
    </ul>

    <h1>Creating a component</h1>
    <p>To create a component using the Angular CLI:</p>

    <ol>
        <li> From a terminal window, navigate to the directory containing your application.</li>
        <li> Run the ng generate component (component-name command), where (component-name is the name of your new component.</li>
    </ol>

    <p>By default, this command creates the following:</p>
    <ul>
        <li>A folder named after the component</li>
        <li>A component file, (component-name).component.ts</li>
        <li>A template file, (component-name).component.html</li>
        <li>A CSS file, (component-name).component.css</li>
        <li>A testing specification file, (component-name).component.spec.ts</li>
    </ul>
    <p>Where (component-name) is the name of your component.</p>
   

</div>
