.content{
    max-width: 60%;
    margin-left: 290px;
}
h1{
    font-size: 42px;
    font-weight: 500;
    padding-top: 35px;
    padding-bottom: 20px;
}


h2 {
 
    font-size: 35px;
    font-weight: 500;
    padding-top: 20px;
}

h3{
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 10px;

}

p{
    line-height: 32px;
    font-weight: 400;
    
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 16px 0;
   
}

 a{
    text-decoration: none;
}

.docs-card{
    background-color: #fff;
    width: 35%;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgb(10 16 20 / 24%), 0 0 2px rgb(10 16 20 / 12%);
    box-sizing: border-box;
    transition: box-shadow .5s;
    max-width: 340px;
    min-width: 300px;
    margin: 24px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.docs-card section{
    text-align: center;
    color: #1976d2;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;

}

.docs-card p{
    text-align: center;
    color: #000;
    font-size: 14px;
    line-height: 24px;
    padding: 0 16px;
    
 

}


.card-footer  {
   
    background-color: rgba(25,118,210,.1);
    text-align: right;
  
    
    
}

.card-footer p{
    
    
}
