<div class="content">

    <h1>Introduction to the Angular Docs</h1>
    <p>Angular is an application design framework and development platform for creating efficient and sophisticated single-page apps.</p>
    <p>These Angular docs help you learn and use the Angular framework and development platform, from your first application to optimizing complex single-page apps for enterprises. Tutorials and guides include downloadable examples to accelerate your projects.</p>

    
    <div class="card-container">

        <a href="" class="docs-card" title="Angular Platform Overview">
            <section>What is Angular</section>
            <p>Get a high-level overview of the Angular platform.</p>
            <p class="card-footer">Platform overview</p>
        </a>

        <a href="" class="docs-card" title="Angular Local Environment Setup">
            <section>Get Started</section>
            <p>Set up your local environment for development with the Angular CLI.</p>
            <p class="card-footer">Local setup</p>
        </a>

        <a href="" class="docs-card" title="Angular Concepts">
            <section>Learn and Explore</section>
            <p>Learn about the fundamental design concepts and architecture of Angular apps.</p>
            <p class="card-footer">Introduction to Angular concepts</p>
        </a>

        <a href="" class="docs-card" title="Try out Angular">
            <section>Take a Look</section>
            <p>Examine and work with a small ready-made Angular app, without any setup.</p>
            <p class="card-footer">Try it now</p>
        </a>

        <a href="" class="docs-card" title="Work through a full tutorial">
            <section>Hello World</section>
            <p>Work through a full tutorial to create your first app.</p>
            <p class="card-footer">Tour of Heroes tutorial</p>
        </a>
    </div>

    <hr>

    <h2>Assumptions</h2>
    <p>These docs assume that you are already familiar with 
        <a href="">HTML </a> , 
        <a href="">CSS</a> , 
        <a href="">JavaScript</a> , and some of the tools from the 
         <a href="">latest standards</a> , such as 
         <a href="">classes</a>
          and 
          <a href="">modules</a> . The code samples are written using 
          <a href="">TypeScript</a> . Most Angular code can be written with just the latest JavaScript, using 
          <a href="">types</a>  for dependency injection, and using
          <a href="">decorators</a>  for metadata.</p>

    <hr>

        <h2>Feedback</h2>
        <h3>You can sit with us!</h3>
        <p>We want to hear from you. 
           <a href="">Report problems or submit suggestions for future docs.</a> </p>
        <p>Contribute to Angular docs by creating
            <a href="">pull requests</a>  on the Angular Github repository. See 
            <a href=""></a>Contributing to Angular
             for information about submission guidelines.</p>
        <p>Our community values respectful, supportive communication. Please consult and adhere to the
            <a href="">Code of Conduct.</a></p>
  

</div>

<div class="row">
    <app-footer></app-footer>
</div> 
